<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white" [ngClass]="getNavbarClasses()">
        <div class="container">
            <!-- Logo o voce a sinistra -->
            <a class="navbar-brand" href="#">
                <img src="../../../assets/Logo Inchiostro Semplice Bianco Nero (1).png" style="width:80px" alt="Logo" class="img-fluid mr-2">
               BLOG
            </a>

            <!-- Pulsante di toggle per la navbar responsiva -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            [attr.aria-expanded]="!isNavbarCollapsed" (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Voci di menu sulla destra -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav" [ngClass]="{'show': !isNavbarCollapsed}">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  (click)="goToPM()" style="cursor: pointer;">Primo piano</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  (click)="goToMeglio()" style="cursor: pointer;">Il meglio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToFocus()" style="cursor: pointer;">Focus</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
