.banner {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3;
}

.banner h1 {
    font-size: 2em;
    margin: 0;
}

.banner p {
    font-size: 1.2em;
    margin: 0;
}

.overlay {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(29, 65, 127, 0.7);
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }


  .blue-background {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  /* Stile per il container delle card */
  .card-container {
    white-space: nowrap;
    padding-bottom: 30px; /* Spazio sotto per le frecce */
    overflow-x: auto; /* Mostra la barra di scorrimento solo quando necessario */
    overflow-y: hidden; /* Nasconde la barra di scorrimento verticale */
  }

  /* Barra di scorrimento personalizzata per Chrome */
.card-container::-webkit-scrollbar {
    width: 8px; /* Larghezza della barra di scorrimento */
    height: 8px;
  }
  
  .card-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Colore di sfondo della traccia della barra di scorrimento */
  }
  
  .card-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Colore del cursore della barra di scorrimento */
    border-radius: 4px; /* Bordo arrotondato */
  }
  
  /* Stile per le frecce */
  .nav-arrow {
    position: absolute;
    bottom: 8px; /* Posiziona più in basso */
    background-color: #007bff;
    color: white;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    font-size: 1rem;
    border: 2px solid white;
  }
  
  .nav-arrow.left {
    left: 10px;
  }

  .nav-arrow.right {
    right: 10px;
  }

  .card-text2{
    visibility: hidden;
  }

  hr{
    border: 2px solid #007bff;
    color: #007bff;
    width: 20%;
  }
 
  .main-card .card-img-top {
    height: 100%;
    object-fit: cover;
  }
  
  .side-img {
    width: 100%; 
    height: 150px; 
    object-fit: cover;
  }

  .side-img2 {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
  }

  .card-body2{
    min-height: 250px;
  }

a{
  background-color: #0d6efd;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 0.5rem;
}