<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Contenuto del footer -->
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-end">
        <button class="btn btn-light" (click)="scrollToTop()">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
      <div class="col-12 text-center mt-3">
        <p>&copy; 2024 LB BLOG</p>
      </div>
    </div>
  </div>
</footer>
